<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>DynamicWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>Servlets.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbController</display-name>
    <servlet-name>ReimbController</servlet-name>
    <servlet-class>Servlets.ReimbController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbController</servlet-name>
    <url-pattern>*.re</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveController</display-name>
    <servlet-name>ApproveController</servlet-name>
    <servlet-class>Servlets.ApproveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveController</servlet-name>
    <url-pattern>*.ap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DenyController</display-name>
    <servlet-name>DenyController</servlet-name>
    <servlet-class>Servlets.DenyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyController</servlet-name>
    <url-pattern>*.dn</url-pattern>
  </servlet-mapping>
</web-app>