<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1_CorvusReimbursement</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.corvusanalyzes.servlets.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.corvus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementTableAJAX</display-name>
    <servlet-name>ReimbursementTableAJAX</servlet-name>
    <servlet-class>com.corvusanalyzes.servlets.ReimbursementTableAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementTableAJAX</servlet-name>
    <url-pattern>/ReimbursementLookup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementButtonAJAX</display-name>
    <servlet-name>ReimbursementButtonAJAX</servlet-name>
    <servlet-class>com.corvusanalyzes.servlets.ReimbursementButtonAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementButtonAJAX</servlet-name>
    <url-pattern>/ReimbursementButton</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MContributorTableAJAX</display-name>
    <servlet-name>MContributorTableAJAX</servlet-name>
    <servlet-class>com.corvusanalyzes.servlets.MContributorTableAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MContributorTableAJAX</servlet-name>
    <url-pattern>/ContributorLookup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MContributor_ChangeUserRoleButtonAJAX</display-name>
    <servlet-name>MContributor_ChangeUserRoleButtonAJAX</servlet-name>
    <servlet-class>com.corvusanalyzes.servlets.MContributor_ChangeUserRoleButtonAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MContributor_ChangeUserRoleButtonAJAX</servlet-name>
    <url-pattern>/ChangeRoleButton</url-pattern>
  </servlet-mapping>
</web-app>