<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERSproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateEmployeeServlet</display-name>
    <servlet-name>CreateEmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlets.CreateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEmployeeServlet</servlet-name>
    <url-pattern>/CreateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.revature.servlets.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitReimburseServlet</display-name>
    <servlet-name>SubmitReimburseServlet</servlet-name>
    <servlet-class>com.revature.servlets.SubmitReimburseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReimburseServlet</servlet-name>
    <url-pattern>/SubmitReimburseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployAccountServlet</display-name>
    <servlet-name>EmployAccountServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployAccountServlet</servlet-name>
    <url-pattern>/EmployAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountServlet</display-name>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <servlet-class>com.revature.servlets.UpdateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <url-pattern>/UpdateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployResolvedServlet</display-name>
    <servlet-name>EmployResolvedServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployResolvedServlet</servlet-name>
    <url-pattern>/EmployResolvedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployPendingServlet</display-name>
    <servlet-name>EmployPendingServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployPendingServlet</servlet-name>
    <url-pattern>/EmployPendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllPendingServlet</display-name>
    <servlet-name>AllPendingServlet</servlet-name>
    <servlet-class>com.revature.servlets.AllPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllPendingServlet</servlet-name>
    <url-pattern>/AllPendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllResolvedServlet</display-name>
    <servlet-name>AllResolvedServlet</servlet-name>
    <servlet-class>com.revature.servlets.AllResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllResolvedServlet</servlet-name>
    <url-pattern>/AllResolvedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployServlet</display-name>
    <servlet-name>ViewEmployServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewEmployServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployServlet</servlet-name>
    <url-pattern>/ViewEmployServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResolveRequestServlet</display-name>
    <servlet-name>ResolveRequestServlet</servlet-name>
    <servlet-class>com.revature.servlets.ResolveRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolveRequestServlet</servlet-name>
    <url-pattern>/ResolveRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequestServlet</display-name>
    <servlet-name>GetRequestServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequestServlet</servlet-name>
    <url-pattern>/GetRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployRequestServlet</display-name>
    <servlet-name>EmployRequestServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployRequestServlet</servlet-name>
    <url-pattern>/EmployRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PromoteServlet</display-name>
    <servlet-name>PromoteServlet</servlet-name>
    <servlet-class>com.revature.servlets.PromoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PromoteServlet</servlet-name>
    <url-pattern>/PromoteServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.revature.servlets.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
</web-app>