body {
	background-color: #dbdbdb; /* #RRGGBB */
	color: #008080;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
	margin-left: 40px;
}

img {
	margin-left: 30px;
}

.homepage {
	margin: 0px 80px 0px 40px;
} 
.profile {
	white-space: nowrap;	
}  

.information {
	margin-left: 20px;
	display: inline-block;
    vertical-align: top;
}

#bio {
	margin-left: 20px;
}

.form-horizontal {
	margin-right: 400px;
}
