<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccount</display-name>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>com.revature.servlets.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Portal</display-name>
    <servlet-name>Portal</servlet-name>
    <servlet-class>com.revature.servlets.Portal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Portal</servlet-name>
    <url-pattern>/Portal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestReimbursement</display-name>
    <servlet-name>RequestReimbursement</servlet-name>
    <servlet-class>com.revature.servlets.RequestReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestReimbursement</servlet-name>
    <url-pattern>/RequestReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReimbursement</display-name>
    <servlet-name>AddReimbursement</servlet-name>
    <servlet-class>com.revature.servlets.AddReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReimbursement</servlet-name>
    <url-pattern>/AddReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.revature.servlets.FrontController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.revature.servlets.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <error-page>
  	<error-code>400</error-code>
  	<location>/ErrorHandler</location>
  </error-page>
  <error-page>
  	<error-code>401</error-code>
  	<location>/ErrorHandler</location>
  </error-page>
  <error-page>
  	<error-code>402</error-code>
  	<location>/ErrorHandler</location>
  </error-page>
  <error-page>
  	<error-code>403</error-code>
  	<location>/ErrorHandler</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/ErrorHandler</location>
  </error-page>
  <error-page>
  	<error-code>418</error-code>
  	<location>/ErrorHandler</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/ErrorHandler</location>
  </error-page>
  <error-page>
  	<error-code>501</error-code>
  	<location>/ErrorHandler</location>
  </error-page>
  <error-page>
  	<error-code>502</error-code>
  	<location>/ErrorHandler</location>
  </error-page>
  <error-page>
  	<error-code>503</error-code>
  	<location>/ErrorHandler</location>
  </error-page>
</web-app>